<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/MaterializeLayout}">
<head>
<title th:text="#{menu.articles}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div class="center">
			<div class="container">

				<th:block th:if="${!articles.empty}">
					<table class="striped highlight centered responsive-table">
						<thead>
							<tr>
								<th th:text="#{number}"></th>
								<th th:text="#{article.title}"></th>
								<th th:text="#{article.abstract}"></th>
								<th th:text="#{article.category}"></th>
								<th th:text="#{article.keywords}"></th>
								<th th:text="#{article.authors}"></th>
								<th th:text="#{article.reviewers}"></th>
								<th th:text="#{article.statuses}"></th>
								<th th:text="#{article.file}"></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="article, iteration : ${articles}">
								<tr>
									<td th:text="${iteration.index + 1}"></td>
									<td th:text="${article.title}"></td>
									<td th:text="${article.abstractColumn}"></td>
									<td th:text="${article.articleCategory.name}"></td>
									<td><span
										th:each="keyword, iterator : ${article.keywords}"
										th:text="!${iterator.last} ? ${keyword.name} + ',': ${keyword.name}"></span></td>
									<td width="250px"><select class="materialSelect">
											<option th:each="author : ${article.authors}"
												th:text="${author.name}"></option>
									</select></td>
									<td><th:block
											th:if="${article.articleReviewers != null && !article.articleReviewers.empty}">
											<select class="materialSelect">
												<option th:each="reviewer : ${article.articleReviewers}"
													th:text="${reviewer.user.name}"></option>
											</select>
										</th:block></td>
									<td><th:block
											th:if="${article.articleReviewers != null && !article.articleReviewers.empty}">
											<select class="materialSelect">
												<option th:if="${reviewer.review != null}"
													th:each="reviewer : ${article.articleReviewers}"
													th:text="${reviewer.review.articleStatus.name}"></option>
											</select>
										</th:block></td>
									<td><a class="waves-effect waves-light btn"
										th:href="@{${url} + ${article.articleFile.name}}"
										th:inline="text"><i class="material-icons left">file_download</i>[[#{article.file.download}]]</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</th:block>

				<th:block th:if="${articles.empty}">
					<h1 th:text="#{articles.empty.for.account}"></h1>
				</th:block>

			</div>
		</div>



		<div class="fixed-action-btn" style="bottom: 60px; right: 50px;">
			<a th:href="@{/article/add/}"
				class="btn-floating btn-large waves-effect waves-light teal"><i
				class="material-icons">add</i></a>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
			  $('.materialSelect').formSelect();
			});
		</script>
	</section>
</body>
</html>
