<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/MaterializeLayout}">
<head>
<title th:text="#{articles}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div class="center">
			<div class="container">

				<th:block th:if="${!articles.empty}">
					<table class="striped highlight centered responsive-table">
						<thead>
							<tr>
								<th th:text="#{number}"></th>
								<th th:text="#{article.title}"></th>
								<th th:text="#{article.abstract}"></th>
								<th th:text="#{article.category}"></th>
								<th th:text="#{article.keywords}"></th>
								<th th:text="#{article.authors}"></th>
								<th th:text="#{article.reviewers}"
									sec:authorize="hasAuthority('ROLE_ADMINISTRATOR')"></th>
								<th th:text="#{article.status}"></th>
								<th th:text="#{article.file.name}"></th>
								<th th:text="#{article.review.file}"
									sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_AUTHOR', 'ROLE_REVIEWER', 'ROLE_ADMINISTRATOR')"></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="article, iteration : ${articles}">
								<tr>
									<td th:text="${iteration.index + 1}"></td>
									<td th:text="${article.title}"></td>
									<td th:text="${article.abstractColumn}"></td>
									<td th:text="${article.articleCategory.name}"></td>
									<td><span
										th:each="keyword, iterator : ${article.keywords}"
										th:text="!${iterator.last} ? ${keyword.name} + ',': ${keyword.name}"></span></td>
									<td width="250px"><select class="materialSelect">
											<option th:each="author : ${article.authors}"
												th:text="${author.name}"></option>
									</select></td>
									<td sec:authorize="hasAuthority('ROLE_ADMINISTRATOR')"><th:block
											th:if="${article.articleReviewers != null && !article.articleReviewers.empty}">
											<select class="materialSelect"
												th:onchange="'javascript:changeReviewer(this.value, \'' + ${article.id} + '\',);'">
												<option th:each="reviewer : ${article.articleReviewers}"
													th:text="${reviewer.user.name}"
													th:value="${reviewer.review != null ? reviewer.review.articleStatus.name : ''}"></option>
											</select>
										</th:block></td>
									<td><th:block
											sec:authorize="hasAuthority('ROLE_ADMINISTRATOR')">
											<span th:id="'reviewerStatus_' + ${article.id}"></span>
										</th:block> <th:block
											sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_AUTHOR', 'ROLE_REVIEWER')">
											<select class="materialSelect">
												<option th:each="reviewer : ${article.articleReviewers}"
													th:text="${reviewer.review != null ? reviewer.review.articleStatus.name : ''}"></option>
											</select>
										</th:block> <th:block sec:authorize="isAnonymous()">
											<select class="materialSelect">
												<option th:each="reviewer : ${article.articleReviewers}"
													th:text="${reviewer.review != null ? reviewer.review.articleStatus.name : ''}"></option>
											</select>
										</th:block></td>
									<td><a class="waves-effect waves-light btn"
										th:href="@{${url} + ${article.articleFile.name}}"
										th:inline="text"><i class="material-icons left">file_download</i>[[#{article.file.download}]]</a></td>
									<td
										sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_AUTHOR', 'ROLE_REVIEWER', 'ROLE_ADMINISTRATOR')">
										<th:block th:each="reviewer : ${article.articleReviewers}"
											th:if="${reviewer.review != null}" )>
											<a class="waves-effect waves-light btn"
												th:href="@{${reviewUrl} + ${reviewer.review.reviewFile.name}}"
												th:inline="text"><i class="material-icons left">file_download</i>[[#{article.file.download}]]</a>
										</th:block>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</th:block>

				<th:block th:if="${articles.empty}">
					<h1 th:text="#{articles.empty.for.account}"></h1>
				</th:block>

			</div>
		</div>


		<div class="fixed-action-btn" style="bottom: 60px; right: 50px;"
			sec:authorize="hasAnyRole('ROLE_AUTHOR', 'ROLE_REVIEWER', 'ROLE_ADMINISTRATOR')">
			<a th:href="@{/article/add/}"
				class="btn-floating btn-large waves-effect waves-light teal"><i
				class="material-icons">add</i></a>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
			  $('.materialSelect').formSelect();
			});

			function changeReviewer(articleStatus, articleId) {
				$("#reviewerStatus_" + articleId).text(articleStatus);
			}
			
		</script>
	</section>
</body>
</html>
