<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/MaterializeLayout}">
<head>
<title th:text="#{preview.article.header} + ${article.title}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div class="center">
			<div class="container">

				<h1 th:text="#{preview.article.header} + ${article.title}"></h1>
			</div>
			<div class="container">
				<div class="row">
					<div class="col s12">
						<span th:text="#{preview.article.abstract}"></span> <strong
							th:text="${article.abstractColumn}"></strong>
					</div>
				</div>

				<div class="row"
					sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_AUTHOR', 'ROLE_REVIEWER', 'ROLE_ADMINISTRATOR')">
					<div class="col s12">
						<span th:text="#{preview.article.file}"></span> <a
							class="waves-effect waves-light btn-small"
							th:href="@{${url} + ${article.articleFile.name}}"
							th:inline="text"><i class="material-icons left">file_download</i>[[#{article.file.download}]]</a>
					</div>
				</div>

				<div class="row">
					<div class="col s12">
						<table class="highlight centered responsive-table">
							<thead>
								<tr>
									<th><strong th:text="#{preview.article.authors}"></strong></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="author : ${article.authors}">
									<tr>
										<td><span th:text="${author.name}"></span></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row"
					sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_AUTHOR', 'ROLE_REVIEWER', 'ROLE_ADMINISTRATOR')">
					<div class="col s12">
						<table class="highlight centered responsive-table">
							<thead>
								<tr>
									<th sec:authorize="hasAuthority('ROLE_ADMINISTRATOR')"><strong
										th:text="#{preview.article.reviewer}"></strong></th>
									<th><strong th:text="#{preview.article.reviewer.status}"></strong></th>
									<th><strong th:text="#{preview.article.review}"></strong></th>
								</tr>
							</thead>
							<tbody>

								<th:block th:each="reviewer : ${article.articleReviewers}">
									<tr>
										<td sec:authorize="hasAuthority('ROLE_ADMINISTRATOR')"><span
											th:text="${reviewer.user.name}"></span></td>
										<td><span
											th:text="${(reviewer.review != null && reviewer.review.articleStatus != null) ? reviewer.review.articleStatus.name : ''}"></span></td>
										<td><th:block
												th:if="${reviewer.review != null && reviewer.review.reviewFile != null}">
												<a class="waves-effect waves-light btn-small"
													th:href="@{${reviewUrl} + ${reviewer.review.reviewFile.name}}"
													th:inline="text"><i class="material-icons left">file_download</i>[[#{article.file.download}]]</a>
											</th:block></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>

				<form th:action="@{/}" method="POST" class="col s12"
					th:object="${filter}">
					<input type="hidden" th:value="${title}" th:field="*{title}" />
					<input type="hidden" th:value="${abstractText}"
						th:field="*{abstractText}" />
					<input type="hidden" th:value="${categoryId}"
						th:field="*{categoryId}" />
					<input type="hidden" th:value="${authorName}"
						th:field="*{authorName}" />
					<input type="hidden" th:value="${keywords}" th:field="*{keywords}" />
					<input type="hidden" th:value="${pageNumber}"
						th:field="*{pageNumber}" />
					<input type="hidden" th:value="${pageSize}" th:field="*{pageSize}" />
					<input type="hidden" th:value="${totalCount}"
						th:field="*{totalCount}" />
					<button type='submit' class="waves-effect waves-light btn-large"
						th:inline="text">
						<i class="material-icons left">arrow_back</i>[[#{back.button}]]
					</button>
				</form>
			</div>
		</div>

	</section>
</body>
</html>
