<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head></head>
<body>
	<div th:fragment="users" id="users">
		<table class="striped highlight centered responsive-table">
			<thead>
				<tr>
					<th th:text="#{number}"></th>
					<th th:text="#{user.username}"></th>
					<th th:text="#{user.email}"></th>
					<th th:text="#{user.name}"></th>
					<th th:text="#{user.organization}"></th>
					<th th:text="#{user.degree}"></th>
					<th th:text="#{user.isConfirmed}"></th>
					<th th:text="#{user.role}"></th>
					<th th:text="#{user.status}"></th>
					<th th:text="#{action}"></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="user, iteration : ${users}">
					<tr>
						<td
							th:text="${iteration.index + (filter.pageNumber*filter.pageSize)+1}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.organization}"></td>
						<td th:text="${user.degree.name}"></td>
						<td
							th:text="${user.isConfirmed == 1} ? #{user.confirmed} : #{user.notConfirmed}"></td>
						<td width="230px"><select class="materialSelect"
								th:id="'userRole_' + ${user.id}"
								th:onchange="'javascript:changeUser(value, \'' + ${user.role.id} + '\' , \'' + ${user.id} + '\', true);'">
								<option value="-1" disabled selected th:text="#{choose}" />
								<option th:each="role : ${roles}" th:value="${role.id}"
									th:text="${role.name}" th:selected="${user.role.id == role.id}"></option>
							</select></td>
						<td><select class="materialSelect"
								th:id="'userStatus_' + ${user.id}"
								th:onchange="'javascript:changeUser(value, \'' + ${user.status.id} + '\' , \'' + ${user.id} + '\', false);'">
								<option value="-1" disabled selected th:text="#{choose}" />
								<option th:each="status : ${statuses}" th:value="${status.id}"
									th:text="${status.name}"
									th:selected="${user.status.id == status.id}"></option>
							</select></td>
						<td><a th:id="'saveButton_' + ${user.id}"
							class="waves-effect waves-light btn-small disabled"
							th:text="#{save.button}"
							th:onclick="'javascript:updateUser(\'' + ${user.id} + '\');'"></a></td>
					</tr>
				</th:block>
			</tbody>
		</table>


		<div class="center">
			<ul class="pagination">
				<!-- First page -->
				<th:block th:if="${filter.pageNumber > 2 && filter.totalPages > 5}">
					<li class="waves-effect"><a href="javascript:void(0);"
						onclick="getData(0)">1</a></li>
				</th:block>

				<!-- Previous page -->
				<li
					th:classappend="${filter.hasPrevPage} ? 'waves-effect' : disabled"><a
					href="javascript:void(0);"
					th:onclick="'javascript:getData(\'' + ${filter.pageNumber - 1} + '\');'"><i
						class="material-icons">chevron_left</i></a></li>

				<!-- Pages -->
				<th:block
					th:each="i : ${#numbers.sequence(filter.loopPagesStart, filter.loopPagesSize)}">
					<li
						th:classappend="${filter.pageNumber == i} ? 'active' : 'waves-effect'"><a
						href="javascript:void(0);"
						th:onclick="'javascript:getData(\'' + ${i} + '\');'"
						th:text="${i + 1}"></a></li>
				</th:block>

				<!-- Next page -->
				<li
					th:classappend="${filter.hasNextPage} ? 'waves-effect' : disabled"><a
					href="javascript:void(0);"
					th:onclick="'javascript:getData(\'' + ${filter.pageNumber + 1} + '\');'"><i
						class="material-icons">chevron_right</i></a></li>

				<!-- Last page -->
				<th:block
					th:if="${filter.totalPages - (filter.pageNumber + 1) >= 3 && filter.totalPages > 5}">
					<li><a href="javascript:void(0);"
						th:onclick="'javascript:getData(\'' + ${filter.totalPages - 1} + '\');'"
						th:text="${filter.totalPages}"></a></li>
				</th:block>
			</ul>
		</div>

		<input type="hidden" id="pageSize" th:value='${filter.pageSize}' />
		<input type="hidden" id="totalCount" th:value='${filter.totalCount}' />

		<script type="text/javascript">
			$(document).ready(function() {
			  $('.materialSelect').formSelect();
			});
		</script>

	</div>
</body>
</html>