<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/MaterializeLayout}">
<head>
<title th:text="#{menu.article.reviewers}"></title>
</head>
<body>
	<section layout:fragment="body">

		<div class="center">
			<div class="container">
				<th:block th:if="${!articles.empty}">
					<table class="striped highlight centered responsive-table">
						<thead>
							<tr>
								<th th:text="#{number}"></th>
								<th th:text="#{article.title}"></th>
								<th th:text="#{article.abstract}"></th>
								<th th:text="#{article.category}"></th>
								<th th:text="#{article.keywords}"></th>
								<th th:text="#{article.authors}"></th>
								<th th:text="#{article.reviewers}"></th>
								<th th:text="#{article.file}"></th>
								<th th:text="#{action}"></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="article, iteration : ${articles}">
								<tr th:id="'row_' + ${article.id}">
									<td th:text="${iteration.index + 1}"></td>
									<td th:text="${article.title}"></td>
									<td th:text="${article.abstractColumn}"></td>
									<td th:text="${article.articleCategory.name}"></td>
									<td><span
										th:each="keyword, iterator : ${article.keywords}"
										th:text="!${iterator.last} ? ${keyword.name} + ',': ${keyword.name}"></span></td>
									<td><select class="materialSelect">
											<option th:each="author : ${article.authors}"
												th:text="${author.name}"></option>
									</select></td>
									<td width="350px"><select multiple class="materialSelect"
										th:id="'articleReviewers_' + ${article.id}"
										th:onchange="'javascript:changeArticle(\'' + ${article.id} + '\');'">
											<option value="-1" disabled selected th:text="#{choose}" />
											<option th:each="reviewer : ${reviewers}"
												th:text="${reviewer.name}" th:value="${reviewer.id}"></option>
									</select></td>
									<td><a class="waves-effect waves-light btn-small"
										th:href="@{${url} + ${article.articleFile.name}}"
										th:inline="text"><i class="material-icons left">file_download</i>[[#{article.file.download}]]</a></td>
									<td><a th:id="'saveButton_' + ${article.id}"
										class="waves-effect waves-light btn-small disabled"
										th:text="#{save.button}"
										th:onclick="'javascript:updateArticle(\'' + ${article.id} + '\');'"></a></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</th:block>

				<th:block th:if="${articles.empty}">
					<h1 th:text="#{articles.empty.for.review}"></h1>
				</th:block>

			</div>
		</div>

		<script type="text/javascript">
			  $('.materialSelect').formSelect();
	
				var contextPath = $("meta[name='ctx']").attr("content");
			
				function changeArticle(articleId) {
					var changedValue = $("#articleReviewers_" + articleId).val();
					
					if(changedValue.length == 2) {
						$("#saveButton_" + articleId).removeClass("disabled");
					} else {
						$("#saveButton_" + articleId).addClass("disabled");
					}
				};
	
				function updateArticle(articleId) {
					var articleReviewers = $("#articleReviewers_" + articleId).val();
					
					$.ajax({
						url : contextPath + "/setArticleReviewers/" + articleId,
						type: "POST",
						contentType : "application/json",
						data: JSON.stringify(articleReviewers),
						dataType: 'text',
						success : function(result) {
							if(result) {
								M.toast({html: 'Успешно задаване рецензенти на статия.', classes: 'rounded'});
							} else {
								M.toast({html: 'Възникна проблем със задаването рецензенти на статия.', classes: 'rounded'});
							}
							$("#saveButton_" + articleId).addClass("disabled");

							$('#row_' + articleId).remove();
						},
						error : function(resul) {
							M.toast({html: 'Възникна проблем със задаването рецензенти на статия.', classes: 'rounded'});
							$("#saveButton_" + articleId).addClass("disabled");
						}
					});
				};
		</script>
	</section>
</body>
</html>
