<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/MaterializeLayout}">
<head>
<title th:text="#{menu.users}"></title>
</head>
<body>
	<section layout:fragment="body">

		<div id="result" th:insert="ajax/usersList :: users"></div>

		<script type="text/javascript">
			var contextPath = $("meta[name='ctx']").attr("content");
			var roleValue;
			var statusValue;
		
			function changeUser(changeValue, originalValue, userId, isRole) {
				if(isRole) {
					if(roleValue) {
						originalValue = roleValue;
					}
				} else {
					if(statusValue) {
						originalValue = statusValue;
					}
				}
				if(changeValue != originalValue) {
					$("#saveButton_" + userId).removeClass("disabled");
				} else {
					$("#saveButton_" + userId).addClass("disabled");
				}
			};

			function updateUser(userId) {
				roleValue = $("#userRole_" + userId).val();
				statusValue = $("#userStatus_" + userId).val();
				
				$.ajax({
					url : contextPath + "/updateUser/" + userId,
					type: "POST",
					data: {
						"roleId": roleValue,
						"statusId": statusValue
					},
					success : function(result) {
						if(result) {
							M.toast({html: 'Успешно редактиране на потребителя.', classes: 'rounded'});
						} else {
							M.toast({html: 'Възникна проблем с редактирането на потребителя.', classes: 'rounded'});
						}
						$("#saveButton_" + userId).addClass("disabled");
					},
					error : function(resul) {
						M.toast({html: 'Възникна проблем с редактирането на потребителя.', classes: 'rounded'});
						$("#saveButton_" + userId).addClass("disabled");
					}
				});
			};


			function getData(pageNumber) {
				$.ajax({
					type: "POST",
					url : contextPath + "/users/getData",
					data: {
						"pageNumber" : pageNumber,
						"pageSize" : $("#pageSize").val(),
						"totalCount" : $("#totalCount").val()
					},
					success : function(result) {
						$("#result").html(result);
					},
					cache : false
				});
			};
			
		</script>
	</section>
</body>
</html>
