<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<footer class="page-footer blue lighten-1" th:fragment="Footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">За проекта</h5>
				<p class="grey-text text-lighten-4">Създаден във връзка с дипломна работа към ТУ-София.</p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Технологии</h5>
				<ul>
					<li><a class="white-text" href="#!">Java</a></li>
					<li><a class="white-text" href="#!">Spring (HTML, CSS, JS,
							ThymeLeaf)</a></li>
					<li><a class="white-text" href="#!">Hibernate</a></li>
					<li><a class="white-text" href="#!">MySQL</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Контакти</h5>
				<ul>
					<li><a class="white-text" href="#!">aleksandar.kovachev1995@gmail.com</a></li>
					<li><a class="orange-text text-lighten-3" target="_blank"
						href="https://github.com/AleksandarKovachev">AleksandarKovachev</a></li>
					<li><a class="white-text" href="#!">+359879370973</a></li>
					<li><a class="white-text" href="#!">Фак. номер: 501214024</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-copyright">
		<div class="container">ARTICLE</div>
	</div>
</footer>

</html>