<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/MaterializeLayout}">
<head>
<title th:text="#{menu.home}"></title>
</head>
<body>
	<section layout:fragment="body">

		<div class="parallax-container" style="height: 850px;">
			<div class="section no-pad-bot">
				<div class="container">
					<h1 class="header center white-text text-lighten-2"
						th:text="#{articles}"></h1>

					<div class="container"
						style="background-color: #000000; border: 1px solid black; opacity: 0.7; filter: alpha(opacity = 70); padding: 20px;">
						<form th:action="@{/}" method="POST" class="col s12"
							th:object="${filter}">

							<input type="hidden" id="pageSize" th:field='*{pageSize}' />

							<div class='row'>
								<div class='input-field col s12 white-text'>
									<i class="material-icons prefix">title</i> <input type='text'
										class="white-text input-in-box" name='title' id='title'
										th:field="*{title}" /> <label for='title'
										th:text="#{article.title}"></label>
								</div>
							</div>

							<div class='row'>
								<div class='input-field col s12 white-text'>
									<i class="material-icons prefix">subtitles</i> <input
										type='text' class="white-text input-in-box" name='title'
										id='abstract' th:field="*{abstractText}" /> <label for='title'
										th:text="#{article.abstract}"></label>
								</div>
							</div>

							<div class='row'>
								<div class="input-field col s12 white-text">
									<i class="material-icons prefix">filter_list</i> <select
										id="categoriesSelect" class="white-text"
										th:field="*{categoryId}">
										<option value="-1" selected th:text="#{choose.all}" />
										<option th:each="category : ${articleCategories}"
											th:value="${category.id}" th:text="${category.name}"></option>
									</select> <label th:text="#{article.category}"></label>
								</div>
							</div>

							<div class='row'>
								<div class="chips chips-autocomplete col s12" id="keywordsChips"></div>
								<input type="hidden" id="keywords" th:field="*{keywords}">
							</div>

							<div class="row">
								<div class="col s12">
									<div class="row">
										<div class="input-field col s12 white-text">
											<i class="material-icons prefix">account_circle</i> <input
												type="text" id="author" name="author"
												class="white-text autocomplete" th:field="*{authorName}">
											<label for="author" th:text="#{article.author}"></label>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<button type='submit'
									class='col s12 btn btn-large waves-effect indigo'
									th:text="#{search.button}"
									onclick="JavaScript:return searchArticles();"></button>
							</div>
						</form>
					</div>

				</div>
			</div>
			<div class="parallax">
				<img class="responsive-img" th:src="@{${url} + article.jpg}">
			</div>
		</div>

		<div class="container white">
			<div class="section">
				<div id="result" th:insert="ajax/articlesList :: articles"></div>
			</div>
		</div>

		<script th:inline="javascript">
			var contextPath = $("meta[name='ctx']").attr("content");

			$(document).ready(function() {
				$.ajax({
					type : 'GET',
					url : contextPath + "/keywords",
					success : function(response) {
						var keywords = response;
						var dataKeywords = {};
						for (var i = 0; i < keywords.length; i++) {
							dataKeywords[keywords[i].name] = keywords[i].flag;
						}

						var my_data = {};
						$.each(keywords, function(index, value) {
							my_data[index] = value.name;
						});

						var myConvertedData = {};
						$.each(my_data, function(index, value) {
						  	myConvertedData[value] = null;
						});

						var listOfChips = $('#keywords').val();
						var tagsMeta = [];
						var tagsArray = listOfChips.split(',');
						$.each(tagsArray, function(index, value) {
							if(value) {
								tagsMeta.push({tag: value});
							}
						});

						$('.chips-autocomplete').chips({
							placeholder: [[#{article.add.keywords}]],
							secondaryPlaceholder: [[#{article.add.keywords}]],
							data: tagsMeta,
							autocompleteOptions: {
							    data: myConvertedData,
							    limit: Infinity,
							    minLength: 1
						  	}
						});

						$('input').addClass("white-text");
					}
				});
			});

			function searchArticles() {
				var keywords = M.Chips.getInstance($('#keywordsChips')).chipsData;
				var keywordsList = [];
				
				$.each(keywords, function(index, value) {
					keywordsList.push(value.tag);
				});
				
				$('#keywords').val(keywordsList);
				return true;
			}

			function getData(pageNumber) {
				var keywords = M.Chips.getInstance($('#keywordsChips')).chipsData;
				var keywordsList = [];
				
				$.each(keywords, function(index, value) {
					keywordsList.push(value.tag);
				});
				
				$('#keywords').val(keywordsList);
				
				$.ajax({
					type: "POST",
					url : contextPath + "/articles/getData",
					data: {
						"pageNumber" : pageNumber,
						"pageSize" : $("#pageSize").val(),
						"totalCount" : $("#totalCount").val(),
						"title" : $("#title").val(),
						"abstract" : $("#abstractText").val(),
						"categoryId" : $("#categoriesSelect").val(),
						"author" : $("author").val(),
						keywordsList
					},
					success : function(result) {
						$("#result").html(result);
					},
					cache : false
				});
			};
		</script>
	</section>
</body>
</html>
