<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/MaterializeLayout}">
<head>
<title th:text="#{menu.users}"></title>
</head>
<body>
	<section layout:fragment="body">

		<table class="striped highlight centered responsive-table">
			<thead>
				<tr>
					<th th:text="#{user.number}"></th>
					<th th:text="#{user.username}"></th>
					<th th:text="#{user.email}"></th>
					<th th:text="#{user.name}"></th>
					<th th:text="#{user.organization}"></th>
					<th th:text="#{user.degree}"></th>
					<th th:text="#{user.isConfirmed}"></th>
					<th th:text="#{user.role}"></th>
					<th th:text="#{user.status}"></th>
					<th th:text="#{user.action}"></th>
				</tr>
			</thead>

			<tbody>
				<th:block th:each="user, iteration : ${users}">
					<tr>
						<td
							th:text="${iteration.index + (filter.pageNumber*filter.pageSize)+1}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.organization}"></td>
						<td th:text="${user.degree.name}"></td>
						<td
							th:text="${user.isConfirmed == 1} ? #{user.confirmed} : #{user.notConfirmed}"></td>
						<td width="230px"><select th:id="'userRole_' + ${user.id}"
								th:onchange="'javascript:changeUser(value, \'' + ${user.role.id} + '\' , \'' + ${user.id} + '\', true);'">
								<option value="-1" disabled selected th:text="#{choose}" />
								<option th:each="role : ${roles}" th:value="${role.id}"
									th:text="${role.name}" th:selected="${user.role.id == role.id}"></option>
							</select></td>
						<td><select th:id="'userStatus_' + ${user.id}"
								th:onchange="'javascript:changeUser(value, \'' + ${user.status.id} + '\' , \'' + ${user.id} + '\', false);'">
								<option value="-1" disabled selected th:text="#{choose}" />
								<option th:each="status : ${statuses}" th:value="${status.id}"
									th:text="${status.name}"
									th:selected="${user.status.id == status.id}"></option>
							</select></td>
						<td><a th:id="'saveButton_' + ${user.id}"
							class="waves-effect waves-light btn-small disabled"
							th:text="#{user.save.button}"
							th:onclick="'javascript:updateUser(\'' + ${user.id} + '\');'"></a></td>
					</tr>
			</tbody>
		</table>


		<ul class="pagination">
			<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
			<li class="active"><a href="#!">1</a></li>
			<li class="waves-effect"><a href="#!">2</a></li>
			<li class="waves-effect"><a href="#!">3</a></li>
			<li class="waves-effect"><a href="#!">4</a></li>
			<li class="waves-effect"><a href="#!">5</a></li>
			<li class="waves-effect"><a href="#!"><i
					class="material-icons">chevron_right</i></a></li>
		</ul>



		<script type="text/javascript">
			var roleValue;
			var statusValue;
		
			function changeUser(changeValue, originalValue, userId, isRole) {
				if(isRole) {
					if(roleValue) {
						originalValue = roleValue;
					}
				} else {
					if(statusValue) {
						originalValue = statusValue;
					}
				}
				if(changeValue != originalValue) {
					$("#saveButton_" + userId).removeClass("disabled");
				} else {
					$("#saveButton_" + userId).addClass("disabled");
				}
			};

			function updateUser(userId) {
				var contextPath = $("meta[name='ctx']").attr("content");
				roleValue = $("#userRole_" + userId).val();
				statusValue = $("#userStatus_" + userId).val();
				
				$.ajax({
					url : contextPath + "/updateUser/" + userId,
					type: "POST",
					data: {
						"roleId": roleValue,
						"statusId": statusValue
					},
					success : function(result) {
						if(result) {
							M.toast({html: 'Успешно редактиране на потребителя.', classes: 'rounded'});
						} else {
							M.toast({html: 'Възникна проблем с редактирането на потребителя.', classes: 'rounded'});
						}
						$("#saveButton_" + userId).addClass("disabled");
					},
					error : function(resul) {
						M.toast({html: 'Възникна проблем с редактирането на потребителя.', classes: 'rounded'});
						$("#saveButton_" + userId).addClass("disabled");
					}
				});
			};
		</script>
	</section>
</body>
</html>
