<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/MaterializeLayout}">
<head>
<title th:text="#{review.title}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div class="center">
			<div class="container">
				<th:block th:if="${!articles.empty}"
					th:with="authenticatedUser=${#authentication.name}">
					<table class="striped highlight centered responsive-table">
						<thead>
							<tr>
								<th th:text="#{number}"></th>
								<th th:text="#{article.title}"></th>
								<th th:text="#{article.abstract}"></th>
								<th th:text="#{article.category}"></th>
								<th th:text="#{article.keywords}"></th>
								<th th:text="#{article.authors}"></th>
								<th th:text="#{article.file}"></th>
								<th th:text="#{action}" th:if="${authenticatedUser == username}"></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="article, iteration : ${articles}">
								<tr>
									<td th:text="${iteration.index + 1}"></td>
									<td th:text="${article.title}"></td>
									<td th:text="${article.abstractColumn}"></td>
									<td th:text="${article.articleCategory.name}"></td>
									<td><span
										th:each="keyword, iterator : ${article.keywords}"
										th:text="!${iterator.last} ? ${keyword.name} + ',': ${keyword.name}"></span></td>
									<td width="250px"><select class="materialSelect">
											<option th:each="author : ${article.authors}"
												th:text="${author.name}"></option>
									</select></td>
									<td><a class="waves-effect waves-light btn-small"
										th:href="@{${url} + ${article.articleFile.name}}"
										th:inline="text"><i class="material-icons left">file_download</i>[[#{article.file.download}]]</a></td>
									<td th:if="${authenticatedUser == username}"><a
										class="waves-effect waves-light btn-small"
										th:href="@{'/review/add/' + ${article.id}}" th:inline="text"><i
											class="material-icons left">mode_edit</i>[[#{review.article.button}]]</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</th:block>
			</div>
		</div>

	</section>
</body>
</html>
