<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/MaterializeLayout}">
<head>
<title th:text="#{article.add.button}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div class="center">
			<div class="container">

				<h1 th:text="#{article.header}"></h1>

				<div th:replace="fragments/Messages :: messages"></div>

				<form action="#" th:action="@{/article/add}" method="POST"
					th:object="${form}" enctype="multipart/form-data">

					<div class='row'>
						<div class='input-field col s12'>
							<i class="material-icons prefix">title</i> <input id="title"
								type="text" class="validate" th:field="*{title}"> <label
								for="title" th:text="#{article.title}"></label>
						</div>
					</div>

					<div class='row'>
						<div class='input-field col s12'>
							<i class="material-icons prefix">subtitles</i>
							<textarea id="title" class="materialize-textarea validate"
								th:field="*{abstractText}"></textarea>
							<label for="title" th:text="#{article.abstract}"></label>
						</div>
					</div>

					<div class='row'>
						<div class="input-field col s8">
							<select multiple th:field="*{authors}">
								<option value="-1" disabled selected th:text="#{choose}" />
								<option th:each="author : ${authors}" th:value="${author.id}"
									th:text="${author.name}"></option>
							</select> <label th:text="#{article.authors}"></label>
						</div>

						<div class="input-field col s4">
							<select th:field="*{categoryId}">
								<option value="-1" disabled selected th:text="#{choose}" />
								<option th:each="category : ${articleCategories}"
									th:value="${category.id}" th:text="${category.name}"></option>
							</select> <label th:text="#{article.category}"></label>
						</div>
					</div>

					<div class='row'>
						<div class="chips chips-autocomplete col s12" id="keywordsChips"></div>
						<input type="hidden" id="keywords" th:field="*{keywords}">
					</div>


					<div class="row">
						<div class='input-field col s12'>
							<div class="file-field input-field">
								<div class="btn">
									<span th:text="#{article.file}"></span> <input type="file"
										th:field="*{articleFile}" class="indigo"
										accept=".doc, .txt, .docx, .docm, .pdf, .dotx, .dot, .rtf">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text"
										th:placeholder="#{article.file}">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<button type='submit'
							class='col s12 btn btn-large waves-effect indigo'
							th:text="#{article.add.button}"
							onclick="JavaScript:return submitArticle();"></button>
					</div>
				</form>
			</div>
		</div>

		<script th:inline="javascript">
			var contextPath = $("meta[name='ctx']").attr("content");

			$(document).ready(function() {
				$.ajax({
					type : 'GET',
					url : contextPath + "/keywords",
					success : function(response) {
						var keywords = response;
						var dataKeywords = {};
						for (var i = 0; i < keywords.length; i++) {
							dataKeywords[keywords[i].name] = keywords[i].flag;
						}

						var my_data = {};
						$.each(keywords, function(index, value) {
							my_data[index] = value.name;
						});

						var myConvertedData = {};
						$.each(my_data, function(index, value) {
						  	myConvertedData[value] = null;
						});

						var listOfChips = $('#keywords').val();
						var tagsMeta = [];
						var tagsArray = listOfChips.split(',');
						$.each(tagsArray, function(index, value) {
							if(value) {
								tagsMeta.push({tag: value});
							}
						});

						$('.chips-autocomplete').chips({
							placeholder: [[#{article.add.keywords}]],
							secondaryPlaceholder: [[#{article.add.keywords}]],
							data: tagsMeta,
							autocompleteOptions: {
							    data: myConvertedData,
							    limit: Infinity,
							    minLength: 1
						  	}
						});
					}
				});
			});


			function submitArticle() {
				var keywords = M.Chips.getInstance($('#keywordsChips')).chipsData;
				var keywordsList = [];
				
				$.each(keywords, function(index, value) {
					keywordsList.push(value.tag);
				});
				
				$('#keywords').val(keywordsList);
				return true;
			}
		</script>

	</section>
</body>
</html>
